.container1 {
    height: 50%;
    width: 50%;
    display: flex;
    padding: 10px;
    /* background-color: red; */
  }

  #auto-complete {
    max-height: 300px;
    overflow-y: auto;
  }
  #auto-complete li {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
  }

  .img img {
    height: 400px;
    width: auto;
    border: 1px rgb(0, 0, 0) solid;
    margin-top: 100px;
    position: relative;
    right: 220px;
  }

  .container {
    height: 50%;
    width: 50%;
    display: flex;
    /* background-color: red; */
    position: absolute;
    padding: 50px;
    right: 50px;
  }

  .display-results{
    /* background-color: blue; */
    position: relative;
    height: 10px;
    margin-top: 20px;
  }

  .search{
    width: 900px;
  }
  .names{
    margin-top: 20px;
    text-align: center;
  }